body {
  font-family: sans-serif, 'Times New Roman', Times, serif;
  font-size: 1rem;
}

h1, a {
  font-weight: 700;
  color: #8259CB;
}

header h1, h2 {
  font-size: 2rem;
}

main h1 {
  font-size: 2.5rem;
}

#tech-stack > h3, .div-project-description > h3 {
  font-size: 1.25rem;
}

/* Header */
header {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  position: relative;
}

#mobile-list-important-links {
  padding: 1rem;
  position: absolute;
  top: 1.25rem;
  right: 0;
  text-align: end;
  z-index: 10;
  background-color: white;
  border: 2px solid #8259CB;
}

#mobile-list-important-links > li {
  margin-bottom: .75rem;
}

#mobile-list-important-links > li:last-of-type {
  margin-bottom: 0;
}

#list-important-links, #footer-list-important-links {
  display: none;
}

#list-important-links > li, #footer-list-important-links > li {
  margin-left: 1rem;
}

#list-important-links > li:first-child, #footer-list-important-links > li:first-child {
  margin-left: 0;
}

#list-important-links > li > a {
  display: flex;
}

#list-important-links > li > a > svg {
  margin-right: .25rem;
}

#list-important-links > li > a:hover > svg > path {
  fill: #5969CB;
}

#list-item-resume > a {
  padding: .75rem 1.25rem;
  border: 2px solid #8259CB;
  border-radius: .5rem;
}

#list-item-resume > a:hover {
  background-color: #5969CB;
  border-color: #5969CB;
  color: #FFFFFF;
}

/* Main */
main {
  padding: 0 2rem;
}

#introduction, #about-me, #projects {
  margin-bottom: 2rem;
}

/* Main#section-introduction */
#introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsla(262, 52%, 57%, .1);
  padding: 1.5rem;
}

#div-introduction, #div-selfie {
  width: 100%;
}

#img-portrait {
  display: block;
  width: 200px;
  height: auto;
  margin: 0 auto;
}

#div-introduction {
  margin-bottom: 2rem;
}

#div-introduction > h1 {
  margin-bottom: 1.5rem;
}

#div-introduction > div {
  margin-bottom: .5rem;
}

#div-introduction > div, #about-me > div > div, .div-project-description > div {
  line-height: 1.25rem;
}

#list-contact {
  display: flex;
  align-items: center;
}

#list-contact > li {
  display: flex;
  align-items: center;
}

#list-contact > li:first-child {
  margin-right: 1rem;
}

#list-contact > li > svg {
  margin-right: .5rem;
}

h2 {
  margin-bottom: 1rem;
}

/* Main#about-me */
#about-me {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#about-me > div {
  margin-bottom: 1rem;
}


#tech-stack > h3 {
  color: #8259CB;
  margin-bottom: .5rem;
}

#tech-stack > ul {
  display: flex;
  margin-bottom: 1.5rem;
}

#tech-stack > ul > li:first-child {
  margin-left: 0;
}

#tech-stack > ul > li {
  margin-left: .5rem;
}

#projects > ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

#projects > ul > li {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: hsla(262, 52%, 57%, .1);
}

.div-project-description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.div-project-description > h3 {
  margin-bottom: .5rem;
}

.div-project-description > a {
  margin-bottom: 1rem;
}

.div-project-description > div {
  margin-bottom: 1rem;
}

.img-project {
  width: 100%;
  height: auto;
  border: 2px solid black;
}

@media (min-width: 576px) {
  #btn-hamburger, #btn-x, #mobile-list-important-links {
    display: none;
  }

  #list-important-links, #footer-list-important-links {
    display: flex;
    align-items: center;
  }
  
  #introduction {
    flex-direction: row;
  }

  #div-introduction {
    margin-bottom: 0;
  }

  #div-introduction, #div-selfie {
    width: 50%;
  }
}

.hide {
  display: none !important;
}

@media (min-width: 767px) {
  #about-me {
    flex-direction: row;
  }
  
  #about-me > div {
    width: 50%;
  }
  
  #about-me > div:last-child {
    text-align: end;
  }

  #tech-stack > ul {
    justify-content: flex-end;
  }
  
  #projects > ul > li {
    width: 48%;
  }

  .div-project-description {
    flex-direction: row;
  }

  .div-project-description > a {
    margin: 0 0 1rem auto;
  }

  .img-project {
    width: 300px;
  }
}